{% extends "network/layout.html" %}
{% load static %}

{% block body %}

{% if user.is_authenticated %}
    <div id="new-post">
        <br><h3>New Post</h3>
        <form method="post" action="" id="post-form">
            {% csrf_token %}
            <textarea class="form-control" id="post-text" rows="5" name="post" placeholder="New Post"></textarea>
            <input type="submit" class="btn btn-primary" value="Post"/>
        </form>
        <br>
    </div>
    <hr>
    <div id="posts-view">
        <h3>This is all posts view</h3>
        <div id="greeting"></div>
    </div>
    <div id="followers-view">
        <h3>This is followers posts view</h3>
    </div>
    <div id="profile-view">
        <h3>This is Profile view</h3>
    </div>
{% else %}
    <div id="" style="text-align: center;">
        <h1>Welcome to <b>Network</b></h1>
        <h4>Sign in to check what's new</h4>
        <h4>If you don't have an accout yet click the register button ubove to create one.</h4>
    </div>
{% endif %}
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}